h1{
    color: purple;
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}
h2{
    color: darkgoldenrod;
    text-align: left;
}
p{
    color: brown;
    font-weight: lighter;
    text-align: left;
}
body{
    background-color: whitesmoke;
}
 