h1{
    color: purple;
    text-align: center;
    font-weight: bolder;
    text-decoration: plum underline wavy;
    font-family: 'Segoe UI';
}
h2{
    color: darkgoldenrod;
    text-align: left;
}
p{
    color: green;
    font-weight: lighter;
    text-align: left;
    line-height: 2;
}
body{
    background-color: whitesmoke;
}
 